@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bodyBg: #ffefeb;
    --textColor: #333;
    --gold: #9a814e;
    --contentBlockBg: #fff7f3;
    --shadowColor: rgba(0, 0, 0, 0.1);
  }

  .dark {
    --bodyBg: #0e0e0e;
    --textColor: #fff;
    --gold: #9a814e;
    --contentBlockBg: #1a1a1a;
    --shadowColor: rgba(0, 0, 0, 0.7);
  }
}
