@layer base;
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-body-bg-from: #ffefeb;
  --color-body-bg-to: #ae9c9c;
  --color-text: #000;

  .dark {
    --color-body-bg-from: #1a202c;
    --color-body-bg-to: #2d3748;
    --color-text: #fff;
  }
}
@layer base {
  body {
    background: linear-gradient(
        to bottom,
        var(--color-body-bg-from),
        var(--color-body-bg-to)
      )
      no-repeat fixed;
    color: var(--color-text);
  }
}
